.footer {
  background: #11a4cb;
}

.footer__content {
  padding: 41px 0 49px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.footer__copyright {
  margin-right: 29px;
}

.footer__link {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    padding: 29px 0 21px;
    text-align: center;
  }

  .footer__copyright {
    order: 1;
    margin: 18px 0 0;
  }
}