.header {
  display: flex;
  position: relative;
  background: #11a4cb;
}

.header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% + 324px);
  right: 12px;
  bottom: 0;
  background: #fff;
}

.header__wrapper {
  display: flex;
  position: relative;
}

.header__logo {
  flex-shrink: 0;
  width: 242px;
  height: 63px;
  margin-top: 42px;
  font-family: RobotoSlab;
  font-size: 48px;
  font-weight: bold;
  color: #005b6b;
}

.header__description {
  padding: 41px 19px 37px 43px;
  font-size: 20px;
  font-weight: 300;
  background: #fff;
  color: #000;
}

.header__title {
  position: absolute;
  z-index: 1;
  left: 100%;
  margin: 44px 0 0 55px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  color: #000;
}

@media screen and (max-width: 900px) {
  .header:after {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
  }

  .header__title {
    order: -1;
    position: static;
    margin: 0 -24px;
    height: auto;
    padding: 11px 14px 10px;
    text-align: right;
    background: #fff;
  }

  .header__logo {
    margin: 25px 0 0;
    height: 34px;
    font-size: 32px;
  }

  .header__description {
    padding: 19px 0 24px;
    font-size: 12px;
    font-weight: 500;
    background: none;
    color: #fff;
  }

  .header__description .bold {
    font-weight: 900;
  }
}