.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 648px;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  cursor: pointer;
  color: #4a90e2;
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .wrapper {
    margin: 0;
    max-width: none;
    padding: 0 24px;
  }

  .mobile-hidden {
    display: none;
  }
}