.App {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 242px 406px 1fr;
  -ms-grid-columns: 1fr 242px 406px 1fr;
  font-family: 'MuseoSansCyrl', sans-serif;
}

.link {
  cursor: pointer;
  color: #4a90e2;
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .App {
    grid-template-columns: 24px auto 24px;
    -ms-grid-columns: 24px auto 24px;
  }

  .mobile-hidden {
    display: none;
  }
}